@using Hotel_NotFarOff.TagHelpersExtentions
@model IEnumerable<Hotel_NotFarOff.Models.Entities.Room>
@{
    Layout = "~/Views/Shared/AdminLTE/_AdminPartialViewLayout.cshtml";
}

@*<link href="~/plugins/datatables-jquery/css/jquery.dataTables.min.css" rel="stylesheet" />*@

<a class='btn btn-primary btn-sm' style='margin-right:3px' asp-action="RoomCreate"><i class='fas fa-plus'></i>Добавить новый</a>

<div id="filter">
    <div>
        <label>Категория номера</label>
        <select id="roomCategories">
            <option value=0>Все</option>
        </select>
    </div>
    <div>
        <label>Статус номера</label>
        <select id="roomStatuses">
            <option value="-1">Все</option>
            <option value="0">Свободен</option>
            <option value="1">Забронирован</option>
        </select>
    </div>
</div>
<table id="roomsTable" class="display responsive wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Номер комнаты
            </th>
            <th>
                Статус номера
            </th>
            <th>
                Категория номера
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Id
            </th>
            <th>
                Номер комнаты
            </th>
            <th>
                Статус номера
            </th>
            <th>
                Категория номера
            </th>
            <th>
                Действия
            </th>
        </tr>
    </tfoot>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/datatables_rooms.js"></script>