@using Hotel_NotFarOff.TagHelpersExtentions
@model IEnumerable<Hotel_NotFarOff.Models.Entities.Room>
@{
    Layout = "~/Views/Shared/AdminLTE/_AdminPartialViewLayout.cshtml";
}

<link href="~/plugins/datatables-jquery/css/jquery.dataTables.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create"><a asp-action="Create">Добавить новый</a></a>
</p>

<table id="roomsTable" class="table table-bordered table-hover dataTable dtr-inline" style="width:100%">
    <thead>
        <tr>
            <th>
                Номер комнаты
            </th>
            <th>
                Статус номера
            </th>
            <th>
                Категория номера
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
</table>

