<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022-<script>document.write(new Date().getFullYear());</script> <a href="~/Admin/Index">Не за горами</a>.</strong> Все права защищены
</footer>