@model IEnumerable<Hotel_NotFarOff.Models.Entities.Booking>
@{
    Layout = "~/Views/Shared/AdminLTE/_AdminPartialViewLayout.cshtml";
}

<div id="filter">
    <div>
        <label>Статус бронирования</label>
        <select id="bookingStatuses">
            <option value=0>Все</option>
        </select>
    </div>
</div>
<table id="bookingTable" class="display responsive wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Номер бронирования
            </th>
            <th>
                ФИО заказчика
            </th>
            <th>
                Телефон заказчика
            </th>
            <th>
                Заезд
            </th>
            <th>
                Выезд
            </th>
            <th>
                Статус
            </th>
            <th>
                Номер комнаты
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Номер бронирования
            </th>
            <th>
                ФИО заказчика
            </th>
            <th>
                Телефон заказчика
            </th>
            <th>
                Заезд
            </th>
            <th>
                Выезд
            </th>
            <th>
                Статус
            </th>
            <th>
                Номер комнаты
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Действия
            </th>
        </tr>
    </tfoot>
</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/datatables_booking.js"></script>