@{
    ViewData["Title"] = "Главная";
}

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Не за горами - Роскошный отель</h1>
                    <p>
                        Здесь лучшие комнаты для бронирования.
                    </p>
                    @*<a href="#" class="primary-btn">Discover Now</a>*@
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Бронирование комнаты</h3>
                    <form action="@Url.Action("Index", "Booking")">
                        <div class="check-date">
                            <label for="date-in">Заезд:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Выезд:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>

                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">2 Взрослых</option>
                                <option value="">3 Взрослых</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Комната</option>
                                <option value="">2 Команты</option>
                            </select>
                        </div>
                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-1.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-2.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-3.jpg")"></div>
    </div>

</section>
