@{
    ViewData["Title"] = "Главная";
}

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Не за горами - Роскошный отель</h1>
                    <p>
                        Здесь лучшие комнаты для бронирования.
                    </p>
                    @*<a href="#" class="primary-btn">Discover Now</a>*@
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    @model BookingData
                    <h3>Бронирование комнаты</h3>
                    <form asp-action="Index" asp-controller="Booking">
                        <div class="check-date">
                            <label asp-for="CheckIn">Заезд:</label>
                            <input type="text" readonly="readonly" asp-for="CheckIn" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label asp-for="CheckOut">Выезд:</label>
                            <input type="text"  readonly="readonly" asp-for="CheckOut" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>

                        <div class="select-option">
                            <label for="guest">Гости:  </label>
                            <select asp-for="AdultCount" id="guest">
                                <option value="1">1 Взрослый</option>
                                <option value="2">2 Взрослых</option>
                                <option value="3">3 Взрослых</option>
                                <option value="4">4 Взрослых</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="child">Дети:  </label>
                            <select asp-for="ChildCount" id="child">
                                <option value="0">Без детей</option>
                                <option value="1">1 ребёнок</option>
                                <option value="2">2 ребёнка</option>
                            </select>
                        </div>
                        <button type="submit">Проверить доступность</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-1.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-2.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/img/hero/hero-3.jpg")"></div>
    </div>

</section>

@section DatePickers
    {
    <script src="@Url.Content("~/js/datepickerInit.js")"></script>
}