@model IEnumerable<Hotel_NotFarOff.Models.Entities.Employee>
@{
    Layout = "~/Views/Shared/AdminLTE/_AdminPartialViewLayout.cshtml";
}

<a class='btn btn-primary btn-sm' style='margin-right:3px' asp-action="EmployeeCreate"><i class='fas fa-plus'></i>Добавить новый</a>

<div id="filter">
    <div>
        <label>Должность</label>
        <select id="employeePosts">
            <option value=0>Все</option>
        </select>
    </div>
    <div>
        <label>Пол</label>
        <select id="employeeGenders">
            <option value="0">Все</option>
            <option value="1">Мужской</option>
            <option value="2">Женский</option>
        </select>
    </div>
</div>
<table id="employeesTable" class="display responsive wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                ФИО
            </th>
            <th>
                Паспорт
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Пол
            </th>
            <th>
                Должность
            </th>
            <th>
                Логин аккаунта
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Паспорт
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Пол
            </th>
            <th>
                Должность
            </th>
            <th>
                Логин аккаунта
            </th>
            <th>
                Действия
            </th>
        </tr>
    </tfoot>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/datatables_employees.js"></script>