@using Hotel_NotFarOff.Models
@model IEnumerable<RoomCategoryInList>
@{
    Layout = "~/Views/Shared/AdminLTE/_AdminPartialViewLayout.cshtml";
}

<a class='btn btn-primary btn-sm' style='margin-right:3px' asp-action="RoomCategoryCreate"><i class='fas fa-plus'></i>Добавить новый</a>
<table id="roomCategoriesTable" class="display responsive wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Наименование
            </th>
            <th>
                Стоимость за ночь
            </th>
            <th>
                Комнат в номере
            </th>
            <th>
                Вместимость
            </th>
            <th>
                Площадь
            </th>
            <th>
                Изображение
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Id
            </th>
            <th>
                Наименование
            </th>
            <th>
                Стоиомость за ночь
            </th>
            <th>
                Комнат в номере
            </th>
            <th>
                Вместимость
            </th>
            <th>
                Площадь
            </th>
            <th>
                Изображение
            </th>
            <th>
                Действия
            </th>
        </tr>
    </tfoot>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/datatables_roomCategories.js"></script>