<form id="employeesForm" method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Employees/ForAdminList" data-ajax-update="#employees-list" data-ajax-loading="#spinner">
</form>

<div id="spinner">
    <div id="cpinner-container">
        <div class="loader1"></div>
    </div>
</div>

<div id="employees-list"> </div>