@using Hotel_NotFarOff.Enums
@using Hotel_NotFarOff.Models.Entities
@using Hotel_NotFarOff.ViewModels
@model TEntityPageViewModel<Room>
<div class="container">
@{
    if (Model.PageType == PageTypeEnum.Create)
    {
        await Html.RenderPartialAsync("../Rooms/_Create", Model.Entity);
    }
    else if (Model.PageType == PageTypeEnum.Edit)
    {
        await Html.RenderPartialAsync("../Rooms/_Edit", Model.Entity);
    }
    else if (Model.PageType == PageTypeEnum.Details)
    {
        await Html.RenderPartialAsync("../Rooms/_Details", Model.Entity);
    }
}
</div>